{
    "printWidth": 180,
    "useTabs": false,
    "singleQuote":true,
    "bracketSpacing": true,
    "arrowParens":"avoid",
    "proseWrap":"preserve",
    "trailingComma": "none",
    "tabWidth": 2,
    "semi": true,
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "auto"
}